@import '../../globalStyle/mixin';
@import '../../globalStyle/variables';

.paper-wrapper{
    background-color: $primary;
    padding: 40px;
    // margin-top: 77px;

    @include mobile{
        padding: 10px;
        // margin-top: 70px;
    }

    .paper-row{
        padding: 20px;
        margin-top: 40px;

        @include tablet{
            border-bottom: 1px solid #fff;
        }

        .paper-col-left{
            border-right: 1px solid #fff;
            // border-bottom: 1px solid #fff;

            @include tablet{
                border: none;
            }

            @include mobile{
                border: none;
                padding: 0;
            }

            .paper-title{
                font-family: $defaultFont;
                font-weight: bold;
                font-size: 20px;
                color: #fff;
                margin: 0;
                text-align: left;
            }

            .paper-author{
                font-family: $defaultFont;
                font-weight: 200;
                font-style: italic;
                font-size: 13px;
                color: #fff;
                margin: 0;
                text-align: justify;
            }

            .paper-abstract{
                font-family: $defaultFont;
                font-size: 14px;
                color: #fff;
                margin-top: 10px;
                text-align: justify;
            }

            .paper-contest{
                font-family: $defaultFont;
                font-weight: 400;
                color: #fff;
                margin-top: 10px;
            }

            .btnCode{
                background-color: #A765FA;
                border: none;
                border-radius: 5px;
                float: right;
                margin-top: 5px;

                &:hover .btnCode-txt{
                    color: #000;
                }

                .fa-github{
                    color: #fff;
                }

                .btnCode-txt{
                    color: #fff;
                    padding: 5px;
                }
            }
        }

        .paper-col-right{
            // border-bottom: 1px solid #fff;

            @include mobile{
                padding: 0;
            }

            .paper-year{
                font-family: $defaultFont;
                font-weight: bold;
                color: #fff;
                margin-top: -3px;
            }
        }
    }

}