@import '../globalStyle//variables';
@import '../globalStyle//mixin';

.home-wrapper{
    // margin-top: 75px;
    position: relative;
    width: 100%;
    height: 650px;
    background-color: $primary;
    overflow: hidden;

    @include mobile{
        // margin-top: 70px;
        height: 286px;
    }
}

.h2-title{
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);

    @include mobile{
        width: 320px;
        transform: translateY(300px) translateX(-50%);
    }
}

.background-img{
    position: absolute;
    bottom: -132px;
    width: 100%;

    @include tablet{
        bottom: 0;
    }

    @include mobile{ 
        bottom: 0;
        // position: static;
    }
}

.ai-club-txt{
    position: absolute;
    color: #fff;
    text-align: center;
    width: 52%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-family: $defaultFont;

    @include mobile{
        font-size: 18px;
        width: 82%;
        top: 40%;
        transform: translateX(-50%) translateY(40px) scale(1) translateZ(0px);
    }
}

.event-wrapper{
    position: relative;
    background-color: $primary;

    .background-event{
        width: 100%;
        height: 450px;
        // opacity: 0.9;
        // -webkit-transform: scaleX(-1);
        // transform: scaleX(-1);
        // transform: rotate(180deg);
        
        @include mobile{
            height: 230px;
        }
    }

    .event-title{
        font-size: 55px;
        font-weight: bold;
        font-family: $defaultFont;
        margin: 10px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 10%;

        @include mobile{
            font-size: 34px;
        }
    }

    .carousel{
        position: static;

        .carousel-inner{
            position: static;

            .carousel-item{
                position: static;

                .event-name-wrapper{
                    top: 40%;
                    left: 10%;
                    position: absolute;
                    width: 39%;
            
                    @include mobile{
                        width: 45%;
                    }

                    .event-name{
                        color: #fff;
                        font-size: 25px;
                        font-family: $defaultFont;
                        font-weight: bold;
                        // text-align: justify;
                        text-transform: uppercase;
                        margin: 16px 10px 10px;

                        @include mobile{
                            font-size: 17px;
                            margin: -5px 10px 10px;
                        }
                    }
                }
            
                .event-img{
                    width: 40%;
                    height: 70%;
                    position: absolute;
                    right: 10%;
                    top: 15%;
                    border-radius: 20px;

                    @include tablet{
                        top: 25%;
                        height: 45%;
                    }

                    @include mobile{
                        width: 35%;
                        height: 40%;
                        right: 7%;
                        top: 32%;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

.mission-wrapper{
    .mission-row{
        padding: 40px;

        @include tablet{
            padding: 40px 5px;
        }

        @include mobile{
            padding: 5px;
        }
        .mission-col1{
            // width: 50%;
            border-right: 1px solid $defaultColor;

            @include mobile{
                border: none;
            }

            .mission-title{
                font-size: 55px;
                font-weight: bold;
                font-family: $defaultFont;
                margin: 10px;

                @include mobile{
                    font-size: 34px;
                }
            }

            .mission-detail{
                margin-top: 80px;

                @include tablet{
                    margin-top: 20px;   
                }

                @include mobile{
                    margin-top: 20px;
                }

                .detail-txt{
                    font-family: $defaultFont;
                    font-size: $defaultFontSize;
                    text-align: justify;
                    margin: 10px;
                    line-height: $defaultLineHeight;

                    @include mobile{
                        font-size: $fontSizeMobile;
                    }
                }
            }
        }

        .mission-col2{
            // width: 50%;
            display: flex;
            justify-content: center;

            @include mobile{
                margin: 40px 0;
            }

            .home21-img{
                width: 450px;
                
                &:hover{
                    border: 5px solid $defaultColor;
                    border-radius: 65px;
                    box-sizing: border-box;
                }

                @include tablet{
                    width: 376px;
                    height: 696px;
                }

                @include mobile{
                    width: 340px;
                }
            }
        }
    }

    .math-row{
        background: linear-gradient(91deg, #C581DD 0%, #81ABDD 50%, #FFF 100%);
        padding: 40px;
        height: 650px;
    
        @include tablet{
            height: 680px;
            padding: 40px 5px;
        }
    
        @include mobile{
            padding: 5px;
            height: 1020px;
            // flex-direction: column-reverse;
        }
    
        .math-col1{
            border-right: 1px solid #fff;
            padding-right: 92px;
            position: relative;
    
            @include tablet{
                padding-right: 22px;
            }
    
            @include mobile{
                border: none;
                width: 100% !important;
                padding: 0;
            }

            .img-wrapper{
                display: flex;
                justify-content: center;
                margin: 30px 0;

                .home31-img{
                    width: 300px;
                    position: absolute;
                    left: 8%;
                    
                    &:hover{
                        border: 5px solid $defaultColor;
                        border-radius: 35px;
                        box-sizing: border-box;
                    }
        
                    @include tablet{
                        top: 8%;
                        left: 15%;
                    }
        
                    @include mobile{
                        width: 330px;
                        position: static;
                    }
                }
        
                .home32-img{
                    width: 300px;
                    position: absolute;
                    left: 30%;
                    top: 48%;
        
                    &:hover{
                        border: 5px solid $defaultColor;
                        border-radius: 38px;
                        box-sizing: border-box;
                    }
        
                    @include tablet{
                        left: 15%;
                        top: 56%;
                    }
        
                    @include mobile{
                        width: 330px;
                        position: static;
                    }
                }
            }
        }
    
        .math-col2{
            margin: 40px;
    
            @include tablet{
                margin: 40px 5px;
            }
    
            @include mobile{
                margin-top: -10px;
                margin-left: 0;
                margin-right: 0;
                // margin-bottom: 20px;
                width: 100%;
                padding: 0 20px;
            }
    
            .math-title{
                font-size: 55px;
                font-weight: bold;
                font-family: $defaultFont;
                margin: 10px;
    
                @include mobile{
                    font-size: 34px;
                }
            }
    
            .math-detail{
                margin-top: 80px;
    
                @include mobile{
                    margin-top: 20px;
                }
    
                .detail-txt{
                    font-family: $defaultFont;
                    font-size: $defaultFontSize;
                    line-height: $defaultLineHeight;
                    text-align: justify;
                    margin: 10px;
    
                    @include mobile{
                        font-size: $fontSizeMobile;
                        margin: 0;
                    }
                }
            }
        }
    }

    .spirit-row{
        padding: 40px;
        background-color: #ececec;

        @include mobile{
            padding: 20px;
        }

        .spirit-col{
            background-color: #fff;
            margin: 0 4%;
            box-shadow: 5px 5px 18px #888888;
            border-radius: 10px;
            overflow: hidden;

            @include tablet{
                margin: 2%;
                padding: 0;
            }

            @include mobile{
                margin: 0 1%;
                padding: 0;
            }

            .spirit-img-wrapper{
                display: flex;
                justify-content: center;

                .spirit-img{
                    width: 100%;
                    // height: 300px;
    
                    @include tablet{
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .spirit-txt{
                color: $primary;
                font-size: 20px;
                margin: 0;
                padding: 0 40px 10px;
                text-align: center;

                @include mobile{
                    font-size: 15px;
                    padding: 2px;
                }
            }
        }
    }
}
