@import '../globalStyle/variables';
@import '.././globalStyle/mixin';

// .header-wrapper{
    // width: 100%;
    // background-color: $primary !important;

    .header-nav{
        width: 100%;
        background-color: $primary;
        margin: 0;
        padding: 0 40px !important;
        width: 100%;
        float: right;
    
        .navbar-toggler{
            background-color: $defaultColor;
        }
        
        .header-left{
            .logo{
                width: 120px;
                height: 120px;

            @include mobile{
                width: 60px;
                height: 60px;
            }
           }
        }
    
        .header-right{
            // width: 1512px;
            margin-left: 688px;
            // float: right;

            .nav-item-wrapper{
                margin: 0 !important;

                .nav-item{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                
                    &:hover{
                        background-color: $defaultColor;
                    }

                    @include tablet{
                        padding-left: 20px;
                    }

                    @include mobile{
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }

            @include tablet{
                margin: 0;
            }

            @include mobile{
                margin: 0;
            }

            .login-wrapper{
                background-color: $defaultColor;

                .btn-login{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;

                    @include tablet{
                        padding-left: 20px;
                    }

                    @include mobile{
                        text-align: center;
                        font-size: 18px;
                    }
                }

                &:hover .btn-login{
                    color: $primary;
                }
            }
        }
    }
// }