@import '.././globalStyle/variables';
@import '.././globalStyle/mixin';

.container{
    max-width: 100%;
}

.footer-wrapper{
    background-color: $primary;
    margin: 0;
    padding: 40px;
    width: 100%;
    // padding-top: 130px;

    @include mobile{
        padding-top: 0;
    }

    // .footer-row1{
    //     .footer-logo{
    //         width: 120px;
    //         height: 120px;
    //         padding: 0;

    //         @include mobile{
    //             width: 60px;
    //             height: 60px;
    //         }
    //     }
    // }

    .footer-row2{
        .footer-tks{
            width: 33%;

            @include tablet{
                width: 100%;
                padding-top: 15px;
            }

            @include mobile{
                width: 100%;
                padding-top: 10px;
            }

            
            .tks-txt{
                color: #fff;
            }
            
            .footer-logo{
                width: 120px;
                height: 120px;
                padding: 0;
    
                @include mobile{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        
        .footer-contact{
            width: 33%;

            @include tablet{
                width: 100%;
                padding-top: 15px;
            }

            @include mobile{
                width: 100%;
                padding-top: 10px;
            }

            .contact-title{
                color: #fff;
            }

            .location{
                display: flex;

                .location-txt{
                    color: #fff;
                }

                .fa-location-dot{
                    color: $defaultColor;
                    padding: 5px;
                }
            }

            .mail{
                display: flex;

                .mail-txt{
                    color: #fff;
                }
                
                .fa-envelope{
                    color: $defaultColor;
                    padding: 5px;
                }
            }
        }

        .footer-follow{
            width: 33%;

            @include tablet{
                width: 100%;
                padding-top: 15px;
            }

            @include mobile{
                width: 100%;
                padding-top: 10px;
            }

            .follow-title{
                color: #fff;
            }

            .follow-wrapper{
                .follow-item{
                    padding: 10px;
                }
            }
        }
    }

    .line-horizon{
        color: $defaultColor;
        border: 1px solid $defaultColor;
    }

    .copyright-txt{
        color: #fff;
        text-align: center;
    }
}