@import '.././globalStyle/variables';
@import '.././globalStyle/mixin';

.member-wrapper{
    // margin-top: 77px;
    padding: 60px 16%;
    background-color: $primary;

    @include mobile{
        padding: 30px 5%;
        // margin-top: 70px;
    }

    .member-row{
        @include mobile{
            margin-top: 50px;
        }

       .member-col1{
            position: relative;
            padding: 0 20px;

            @include mobile{
                padding: 10px 20px;
            }

            .avt-wrapper{
                .avt-link{
                    --uiMaskClipPath: var(--maskClipPath);
                    box-sizing: var(--maskBoxSizing, border-box);
                    display: var(--maskDisplay, inline-flex);
                    padding: var(--maskStrokeThickness, 3px);
                    clip-path: var(--uiMaskClipPath);
                    background-color: var(--maskStrokeColor, currentColor);
                    --maskAnimationDuration: .9s;
                    --maskAnimationTimingFunction: cubic-bezier(1, 0.18, 0, 1.14);
                    --maskClipPath: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                    transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);

                    &:hover{
                        --maskClipPath: polygon(0 0, 90% 0, 100% 0, 100% 90%, 100% 100%, 10% 100%, 0 100%, 0 10%); 
                        --maskClipPath: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
                    }

                    &:focus{
                        --maskClipPath: polygon(0 0, 90% 0, 100% 0, 100% 90%, 100% 100%, 10% 100%, 0 100%, 0 10%); 
                        --maskClipPath: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
                    }

                    .avt-mentor{
                        // max-width: 100%;
                        display: block;
                        transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
                        clip-path: var(--uiMaskClipPath);
                        width: 250px;
                        background-color: #fff;
                    }
                }
            }

            // .avt-mentor{
            //     width: 250px;
            //     border: 5px solid #000;
            //     // border-radius: 40%;
            // }

            .detail-wrapper{
                background-color: $defaultColor;
                position: absolute;
                top: 290px;
                width: 300px;
                border-radius: 40px;
                padding: 5px;

                &:hover{
                    border: 2px solid #fff;
                }

                .name{      
                    font-family: $defaultFont; 
                    margin: 0;  
                    color: #fff;    
                    text-align: center;             
                }

                .position{      
                    font-family: $defaultFont;
                    margin: 0;
                    color: #fff;
                    text-align: center;
                }
            }

            .detail{
                font-family: $defaultFont;
                text-align: justify;
                color: #fff;
                margin-top: 45px;
            }

            .role{
                // font-size: 55px;
                font-family: $defaultFont;
                font-weight: bold;
                font-size: 40px;
                color: #fff;
                text-align: center;
            }
       } 

       .avt-mentor-wrapper{
            display: flex;
            justify-content: center;
       }
    }
}

.member-detail-wrapper{
    background-color: $primary;
    padding: 30px 0;

    .member-detail-row{
        padding: 30px 3%;
        background-image: url('../../assets/member_background-min.png');
        // background-color: rgba(139, 139, 139, 0.2);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 30px 12%;
        object-fit: cover;
        border-radius: 1rem;
        @include tablet{
            margin: 30px 0;
        }

        @include mobile{
            margin: 30px 2%;
        }

        .carousel-item-wrapper{
            display: flex;
            background: linear-gradient(300deg, rgba(200, 200, 200, 0.70) 0%, rgba(100, 100, 100, 0.60) 100%), rgba(200, 200, 200, 0.70);
            padding: 40px;
            border-radius: 30px;
            @include mobile{
                display: block;
                background: linear-gradient(190deg, rgba(200, 200, 200, 0.70) 0%, rgba(100, 100, 100, 0.60) 100%), rgba(200, 200, 200, 0.70);
            }
        }

        .member-detail-col{ 
            .avt-member-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
    
                .avt-detail{
                    border-radius: 30px;
                    width: 216px;
                    height: 300px;

                    &:hover{
                        border: 5px solid $defaultColor;
                    }
                }
            }
            
            .member-name{
                color: #fff;
                font-size: 20px;
                text-align: center;
                margin-top: 15px;
                margin-left: -22%;
                width: 140%;
            }
            
            .role{
                font-size: 40px;
                font-family: $defaultFont;
                font-weight: bold;
                color: #fff;
                margin-left: 5%;
                text-transform: capitalize;
            
                @include mobile{
                    text-align: center;
                    margin: 0;
                }
            }

            .detail-member{
                font-family: $defaultFont;
                text-align: justify;
                color: #fff;
                padding-left: 3%;
                margin: 20px 2% 0;

                @include mobile{
                    margin: 20px 0 0;
                    padding: 0;
                }
            }
    
        }

        .carousel{
            .carousel-indicators{
                margin-bottom: -3%;

                @include mobile{
                    margin-bottom: -8%;
                }
            }

            .carousel-control-prev{
                margin-left: -1.5%;
                width: 6%;
            }

            .carousel-control-next{
                margin-right: -1.5%;
                width: 6%;
            }
        }
    }
    .alumni-row{
        padding: 40px 20%;
        justify-content: center;
        width: 100%;
       

        .alumni-title{
            font-family: $defaultFont;
            font-weight: bold;
            font-size: 40px;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
    
        .avt-wrapper{
            background-color: $primary;
            padding: 5px 0;
            // width: 100%;
    
            .img-wrapper{
                display: flex;
                justify-content: center;
    
                .avt-member{
                    width: 216px;
                    height: 300px;
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover{
                        border: 5px solid $defaultColor;
                    }
                }
            }
    
            .member-name{
                color: #fff;
                font-size: 20px;
                text-align: center;
                margin-top: 15px;
            }
        }
        @include mobile{
            margin: 0;
            padding: 0;
            .avt-wrapper{
                
                .img-wrapper{
                    .avt-member{
                        width: 150px;
                        height: 200px;
                    }
                }                
            }
        }
        @include tablet {
            margin: 0;
            padding: 0;
            .avt-wrapper{
                
                .img-wrapper{
                    .avt-member{
                        width: 150px;
                        height: 200px;
                    }
                }                
            }
        }
    }
}

// .carousel-wrapper{
//     background-color: $primary;
//     padding: 5px 0;
//     width: 100%;
// }