@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary: #252842;
$defaultColor: #37b6fd;
$defaultFont: Roboto;
$defaultFontSize: 20px;
$defaultLineHeight: 1.4;
$fontSizeMobile: 15px;
$fontSizeTitle: 46px;
$fontSizeTitle: 64px;